@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Grand+Hotel&family=Jacques+Francois&family=Jacques+Francois+Shadow&family=Noto+Sans:wght@100;300;400;600;700;900&family=Nunito+Sans:ital,wght@0,300;0,600;0,700;0,900;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&family=Russo+One&display=swap");

#container {
  width: 100vw;
  height: fit-content;
  padding: 10px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  // filter: sepia(0.9) hue-rotate(315deg) brightness(0.9);

  .card-container {
    width: 330px;
    height: 500px;
    background: white;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    margin: 10px;
    .card-header {
      height: 45%;
      width: 100%;
      background: #1d3b67;
      position: relative;

      .img {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        overflow: hidden;
        position: absolute;
        bottom: -20%;
        left: 23%;
        border: 3px solid white;
        box-shadow: 0 0 1px 2px #1d3b67;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        @media screen and (max-width: 400px) {
          width: 150px;
          height: 150px;
        }
      }
      .card-media {
        width: fit-content;
        height: fit-content;
        position: absolute;
        right: 0;
        top: 2%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        i {
          font-size: 19px;
          color: rgb(231, 230, 230);
          margin: 5px 10px;
          cursor: pointer;
        }
      }
      &:hover {
        background: #2b528d;
      }
    }

    .card-body {
      width: 100%;
      height: 55%;
      padding: 0 10px;
      padding-top: 11%;

      .card-title {
        text-align: center;
        font: 600 23px "Nunito Sans", sans-serif;
        color: rgb(73, 73, 73);
        padding: 10px 5px;
        width: 90%;
        margin: auto;
      }

      .card-description {
        text-align: center;
        font: 500 13px "Poppins", sans-serif;
        padding: 10px 4px;
        width: 90%;
        margin: auto;
        color: rgb(49, 49, 49);
      }

      .card-buttons {
        width: 95%;
        margin: auto;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;

        .btn {
          width: 140px;
          height: 40px;
          border-radius: 30px;
          border: none;
          text-decoration: none;
          background: #2e5693;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 5px;
          cursor: pointer;

          &:hover {
            transform: scale(0.9);
            background: #23436e;
          }
          &:active {
            transform: scale(0.8);
          }

          &:last-child {
            background: transparent;
            box-shadow: 0 0 1px 1px rgb(28, 160, 222);
            color: rgb(28, 160, 222);
          }
        }
      }
      &:hover {
        background: whitesmoke;
      }
    }

    &:hover {
      background: linear-gradient(to bottom left, rgb(28, 160, 222), #0c1725);

      .card-header {
        background: rgb(28, 160, 222);
        background: linear-gradient(to top left, rgb(28, 160, 222), #0c1725);
      }

      .card-body {
        background: linear-gradient(to bottom left, rgb(28, 160, 222), #0c1725);
        color: white;
        .card-title,
        .card-description {
          color: white;
        }
      }
    }

    @media screen and (max-width: 960px) {
      width: 350px;

      @media screen and (max-width: 750px) {
        width: 95vw;
      }
    }

    @media screen and (max-width: 500px) {
      width: 90vw !important;
      height: 430px !important;
      .card-body {
        .card-title {
          font-size: 19px;
          padding-top: 15px;
        }
        .card-description {
          font-size: 12px;
        }
      }
    }
  }
}
